.paginator {
    display: flex;
    justify-content: space-between;
}

.limit_selector {
    display: flex;
    align-items: center;
}
.limit_selector > select {
    margin-right: 0.2rem;
}

.page_selector {
    display: flex;
}

.page_selector > div {
    min-width: 25px;
    min-height: 25px;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(238, 236, 236);
}

.page_selector > div:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}